mixin gameForm(game, genre, platform, saveURL, deleteURL,  cancelURL, buttonText)

    div.form-container
        form(action=saveURL method='post')
            div.form-input
                label(for='game_name') game Name
                input(type='text' id='game_name' name='game_name' value=game.game_name)

                div.form-input
                    label(for='platform') Platform
                    select(id='platform' name='platofrom')
                        each platform in platforms
                            option(value=platform selected= ([platform] === game.platform)) #{platform}

            div.form-input
                label(for='genre') Genre
                select(id='genre' name='genre')
                    each genre in genres
                        option(value=genre selected= (genre===game.genre)) #{genre}

            div.form-input
                label(for='description') Description
                textarea(id='description' name='description' rows=10 cols=80) #{game.description}

            div.form-buttons
                button.button.primary(type="submit") #{buttonText}
                a.button(href=deleteURL) Delete
                a.button(href=cancelURL) Cancel